{% extends 'layouts/layout-tree.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block contentLeftColumn %}
    

<h1 style="background:blue;">about</h1>

{% endblock %}
{% block contentCenterColumn %}
    

<h1 style="background:white;">center</h1>

{% endblock %}

{% block contentRightColumn %}
    

<h1 style="background:red;">right</h1>

{% endblock %}
