{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}


<h1>Récupération de paramètres</h1>
<p>{{ paramUrl }}</p>
<p>{{controller_name}}</p>
<p>methode : {{ methode}}</p>
{% endblock %}
